# Ignore typical clutter
.git
.gitignore
.dockerignore
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.tmp
*.bak
*.swp

# Optional: Ignore OS files
.DS_Store
Thumbs.db

# Optional: Ignore build artifacts (if any)
build/
dist/
.cache/
.env
.envrc

# Explicitly exclude null folder
null/
null/**
terrafrom/